body {
  margin: 0;
  background: #151616 !important;
  color: #fff !important;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 50px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --anchor-color: #26c6da;
  --anchor-hover-color: #03a9f4;

  --color-1: #2c98f0;
  --color-2: #ec5453;
  --color-3: #f9bf3f;
  --color-4: #a84db8;
  --color-5: #2fa499;
  --color-6: #4054b2;
  --color-7: #38436f;

  --card-bg: rgb(52, 58, 64);
  --card-bg-darker: #242526;
}

::selection {
  color: #fff;
  background: #2c98f0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6c757d;
}

ul {
  /* list-style: none; */
  margin: 0;
  padding: 0;
}

a.internal-anchor {
  color: var(--anchor-color);
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--anchor-color);
}

a.internal-anchor:hover {
  color: var(--anchor-hover-color);
  border-bottom: 1px solid var(--anchor-hover-color);
}

hr {
  margin: 1rem auto !important;
}

u {
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

p {
  line-height: 1.75;
}

/* Top Navigation Bar */

/* <nav> */
.m-navbar {
  background-color: var(--bg);
  border-bottom: var(--border);
  display: flex;
}

/* <ul> */
.m-navbar-home {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* Small Screens */
@media only screen and (max-width: 767px) {
  .m-navbar-nav {
    padding: 0;
  }

  .m-navbar {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .m-navbar-home {
    height: var(--nav-size);
    margin: 0;
    justify-content: space-between;
    padding-right: 2rem;
  }

  .m-navbar .m-navbar-nav {
    transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
  }

  .nav-mobile-expanded {
    opacity: 1 !important;
    height: auto !important;
    margin-bottom: 1rem !important;
  }
}

/* Large Screens */
@media only screen and (min-width: 768px) {
  .m-navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .m-navbar {
    height: var(--nav-size);
    padding: 0 1rem;
    justify-content: space-between;
  }

  .m-navbar-home {
    height: 100%;
  }

  .small-screen {
    display: none !important;
  }
}

/* <li> */
.nav-icon {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon .btn-icon {
  border: none;
  background: transparent;
}

/* <li> */
.nav-item-title {
  --button-size: calc(var(--nav-size) * 1.5);
  /*width: var(--button-size);*/
  /*background-color: #484a4d;*/
  padding: 1.2rem;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;

  text-decoration: auto;
  color: white;
  font-weight: 200;
  font-size: small;
  width: 100%;
}

.nav-item-head:hover .nav-item-title {
  text-shadow: 0px 0px 1px white;
  text-decoration: none;
  color: black;
}

.nav-item-head {
  /*margin-left: 1.5rem;*/
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item-head:hover {
  background: #cccccc;
  font-weight: bold;
  cursor: pointer;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;

  text-decoration: auto;
  color: white;
  font-weight: bold;
  font-size: small;
}

.icon-button:hover {
  filter: brightness(1.2);
  text-decoration: none;
  color: white;
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
/* .menu-secondary-exit {

} */
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.masterhead {
  position: relative;
  min-height: 100vh;
  display: flex;
}

.text-landing {
  margin: auto;
  max-width: 600px;
}

/* Small Screens */
@media only screen and (max-width: 768px) {

}

/* Small Screens */
@media only screen and (min-width: 250px) and (max-width: 480px) {
  .text-landing {
    padding: 0em 0.75em;
  }
}

/* Large Screens */
@media only screen and (min-width: 480px) {
  .text-landing {
    padding: 2em 3em;
  }
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease 0s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: rgb(33, 37, 41);
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #03a9f4;
  color: white;
}

a.m-btn-primary {
  background-color: transparent;
  border-color: var(--anchor-color);
  color: var(--anchor-color);
  border-width: medium;
}

a.m-btn-primary:hover {
  color: white;
  background-color: var(--anchor-hover-color) !important;
  border-color: var(--anchor-hover-color) !important;
}

section.full-section {
  min-height: 100vh;
  display: flex;
}

.footer-copyright {
  z-index: 9999;
  font-size: small;
  background-color: #212529;
}

.full-section .container {
  margin: auto;
  text-align: left;
  max-width: 900px;
}

.full-section .container:before {
  content: "";
  display: inline-block;
  height: 10%;
  min-height: 50px;
}

.section-label {
  text-transform: uppercase;
  font-weight: lighter;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 5px;
  opacity: 0.7;
  font-size: 0.65rem;
}

.section-head {
  text-transform: uppercase;
  font-family: 'FontAwesome';
  font-weight: 700;
  line-height: 1.8;
  font-size: 1.2rem;
  letter-spacing: 5px;
}

/* Card Icon CSS */

.card-icon-root {
  box-shadow: rgb(255 255 255 / 15%) 3px 3px 30px 0px;
  border-bottom: 2px solid rgb(44, 152, 240);
  background-color: rgb(52, 58, 64);
  padding: 1.5rem;
}

.card-icon-root .card-title {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Card Detailed CSS */

.card-detail-root {
  position: relative;
  box-shadow: rgb(255 255 255 / 15%) 3px 3px 30px 0px;
  background-color: rgb(52, 58, 64);
  padding: 1.5rem;
  margin-top: 4rem;
}

.card-detail-root .top-icon {
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;
  width: 100px;
  height: 50px;
  display: table;
  margin: 0px auto;
}

span.top-icon::before {
  top: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 30px 50px;
}

span.top-icon::after {
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 50px 0 50px;
}

span.top-icon::before, span.top-icon::after {
  position: absolute;
  left: 0;
  right: 0;
  content: '';
}

span.top-icon i {
  font-size: 2rem;
  color: #fff;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
}

.card-detail-root .card-title {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 4rem;
  text-transform: uppercase;
}

/* Color Palets */

.card-detail-root.color-1, .card-icon-root.color-1 {
  border-bottom: 2px solid var(--color-1);
}
.card-detail-root.color-1 .top-icon, .progress-bar.color-1:after, .progress-bar.color-1 {
  background: var(--color-1);
}
.card-detail-root.color-1 .top-icon:before {
  border-color: transparent transparent var(--color-1) transparent;
}
.card-detail-root.color-1 .top-icon:after {
  border-color: var(--color-1) transparent transparent transparent;
}
.card-icon-root.color-1 span i, .progress-bar.color-1 span {
  color: var(--color-1);
}

.card-detail-root.color-2, .card-icon-root.color-2 {
  border-bottom: 2px solid var(--color-2);
}
.card-detail-root.color-2 .top-icon, .progress-bar.color-2:after, .progress-bar.color-2 {
  background: var(--color-2);
}
.card-detail-root.color-2 .top-icon:before {
  border-color: transparent transparent var(--color-2) transparent;
}
.card-detail-root.color-2 .top-icon:after {
  border-color: var(--color-2) transparent transparent transparent;
}
.card-icon-root.color-2 span i, .progress-bar.color-2 span {
  color: var(--color-2);
}

.card-detail-root.color-3, .card-icon-root.color-3 {
  border-bottom: 2px solid var(--color-3);
}
.card-detail-root.color-3 .top-icon, .progress-bar.color-3:after, .progress-bar.color-3 {
  background: var(--color-3);
}
.card-detail-root.color-3 .top-icon:before {
  border-color: transparent transparent var(--color-3) transparent;
}
.card-detail-root.color-3 .top-icon:after {
  border-color: var(--color-3) transparent transparent transparent;
}
.card-icon-root.color-3 span i, .progress-bar.color-3 span {
  color: var(--color-3);
}

.card-detail-root.color-4, .card-icon-root.color-4 {
  border-bottom: 2px solid var(--color-4);
}
.card-detail-root.color-4 .top-icon, .progress-bar.color-4:after, .progress-bar.color-4 {
  background: var(--color-4);
}
.card-detail-root.color-4 .top-icon:before {
  border-color: transparent transparent var(--color-4) transparent;
}
.card-detail-root.color-4 .top-icon:after {
  border-color: var(--color-4) transparent transparent transparent;
}
.card-icon-root.color-4 span i, .progress-bar.color-4 span {
  color: var(--color-4);
}

.card-detail-root.color-5, .card-icon-root.color-5 {
  border-bottom: 2px solid var(--color-5);
}
.card-detail-root.color-5 .top-icon, .progress-bar.color-5:after, .progress-bar.color-5 {
  background: var(--color-5);
}
.card-detail-root.color-5 .top-icon:before {
  border-color: transparent transparent var(--color-5) transparent;
}
.card-detail-root.color-5 .top-icon:after {
  border-color: var(--color-5) transparent transparent transparent;
}
.card-icon-root.color-5 span i, .progress-bar.color-5 span {
  color: var(--color-5);
}

.card-detail-root.color-6, .card-icon-root.color-6 {
  border-bottom: 2px solid var(--color-6);
}
.card-detail-root.color-6 .top-icon, .progress-bar.color-6:after, .progress-bar.color-6 {
  background: var(--color-6);
}
.card-detail-root.color-6 .top-icon:before {
  border-color: transparent transparent var(--color-6) transparent;
}
.card-detail-root.color-6 .top-icon:after {
  border-color: var(--color-6) transparent transparent transparent;
}
.card-icon-root.color-6 span i, .progress-bar.color-6 span {
  color: var(--color-6);
}

/* Skill Bar CSS */

.skill-bar-root h3 {
  font-size: 16px;
  font-family: "Quicksand", Arial, sans-serif;
  margin-bottom: 10px;
}

.skill-bar-root .progress {
  height: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #343a40;
  overflow: visible;
  margin-bottom: 2.5rem;
}

.progress-bar span {
  color: #2c98f0;
  position: absolute;
  top: -22px;
  right: 0;
}

.progress-bar:after {
  position: absolute;
  top: -2px;
  right: 0;
  width: 10px;
  height: 10px;
  content: '';
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.progress .progress-bar {
  line-height: 1.2;
  font-weight: 600;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* Work Component CSS */

.tab-nav .nav-link:focus, .tab-nav .nav-link:hover {
  color: white;
}

.tab-nav .nav-link {
  padding: 0.5rem 0.2rem;
  margin-right: 1rem;
  font-size: smaller;
  color: var(--bs-gray);
}

.nav-tabs.tab-nav .nav-item.show .nav-link, .nav-tabs.tab-nav .nav-link.active, 
.nav-tabs.tab-nav .nav-link.active:hover, .nav-tabs.tab-nav .nav-link.active:focus {
  color: #fff;
  background: transparent;
  border-bottom-color: #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.nav-tabs.tab-nav .nav-link:focus, .nav-tabs.tab-nav .nav-link:hover {
  border-color: transparent;
}

.nav-tabs.tab-nav {
  border: none;
}

.project {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.project .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eeeeee;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.project .desc .con {
  padding: 20px;
  display: block;
  position: relative;
  height: 300px;
}

.project .desc h3 {
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  margin-bottom: 15px;
}

.project .desc h3 a, .project .desc h3 button {
  color: #000;
  text-decoration: none;
  border: none;
  padding-left: 0;
}

.project .desc span {
  display: block;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  cursor: default;
}

.project .desc .con .icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.project .desc .con .icon span {
  display: inline;
  padding-right: 5px;
}

.project .desc .con .icon span a {
  color: #333333;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.project .desc .con .icon i {
  font-size: 16px;
  color: #333333;
}

.project:hover .desc {
  opacity: 1;
}

.project:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.project:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Narrow Content CSS */

.narrow-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  clear: both;
  margin-top: 5em;
  margin-bottom: 2em;
}

.narrow-counters .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.counters-narrow-counters {
  padding: 0 2.5em;
}

.counters-narrow-counters .row div {
  z-index: 1;
}

.narrow-counters .narrow-counter {
  font-size: 40px;
  display: block;
  color: white;
  font-family: "Quicksand", Arial, sans-serif;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}

.narrow-counters .narrow-counter-label {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  margin-bottom: 2em;
  display: block;
}

/* Recent Blog Posts CSS */

.blog-entry {
  width: 100%;
  float: left;
  margin-bottom: 3em;
}

.blog-entry .blog-img {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}

.blog-entry .blog-img img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

.blog-entry:hover .blog-img img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.blog-entry .desc span {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4) !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.blog-entry .desc span small i {
  color: #999999;
}

.blog-entry .desc h3 {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: auto;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Quicksand", Arial, sans-serif;
}

.blog-entry .desc h3 a {
  color: #fff;
  text-decoration: none;
}

.blog-entry .desc p {
  text-align: justify;
}

button.load-more {
  background-color: var(--card-bg) !important;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 1rem;
  border-radius: 0;
}

button.load-more:hover {
  background-color: var(--color-1) !important;
  color: #fff;
}

.load-more {
  width: 100%;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.load-more i {
  margin-left: 0.5rem;
  color: lightgray;
}

/* Contact Component CSS */

.contact-card {
  text-align: left;
  width: 100%;
  float: left;
  margin-bottom: 40px;
  position: relative;
}

.contact-card .contact-card-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: table;
  text-align: center;
  background: var(--bs-gray-dark);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.contact-card .contact-card-icon i {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  color: var(--text-color);
  font-size: 40px;
}

.contact-card .contact-card-text {
  margin-left: 120px;
  word-break: break-word;
  margin-top: 30px;
  /* width: 100%; */
}

/* Small Screens */
@media screen and (max-width: 374px) {
  .contact-card {
    margin-bottom: 20px;
  }

  .contact-card .contact-card-icon i {
    font-size: 14px;
  }

  .contact-card .contact-card-icon {
    width: 50px;
    height: 50px;
  }

  .contact-card .contact-card-icon i {
    height: 50px;
  }

  .contact-card .contact-card-text {
    margin-left: 60px;
    margin-top: 10px;
  }
}

/* Large Screens */
@media only screen and (min-width: 374px) {
  .contact-card .contact-card-icon i {
    font-size: 28px;
  }
}

.contact-card .contact-card-text p a {
  text-decoration: none;
  color: var(--anchor-color);
}

.contact-card .contact-card-text p a:hover {
  text-decoration: none;
  color: var(--anchor-hover-color);
}

.contact-form .form-group {
  margin-bottom: 1rem;
}

.contact-form .form-group .form-control {
  border: transparent;
  background: #343b3f;
  color: lightgray;
  height: 3.5rem;
  border-radius: 0;
  padding: 0.65rem 1.3rem;
}

.contact-form .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.contact-form .form-group textarea.form-control {
  min-height: 8rem;
}

.form-group .btn.m-btn-primary {
  padding: 0.65rem 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: var(--card-bg) !important;
  color: #fff;
  border-radius: 0;
}

.form-group .btn.m-btn-primary:hover {
  background-color: var(--color-1) !important;
  color: #fff;
}

.form-group span {
  font-size: small;
  color: var(--color-3);
}